@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import 
    "custom/colors/dark-typography.scss",
    "custom/colors/light-typography.scss";


$post-content-font-size: 0.995rem; // 1.0rem;

html {
    @media (prefers-color-scheme: light) {

        &:not([data-mode]),
        &[data-mode="light"] {
            @include light-scheme;
        }

        &[data-mode="dark"] {
            @include dark-scheme;
        }
    }

    @media (prefers-color-scheme: dark) {

        &:not([data-mode]),
        &[data-mode="dark"] {
            @include dark-scheme;
        }

        &[data-mode="light"] {
            @include light-scheme;
        }
    }
    font-size: 15.5px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    letter-spacing: -0.05px;
}

.access {
    .post-content {
        font-size: 0.9rem;
    }
}

.post-content {
    font-size: $post-content-font-size; // font-size: 1.0rem;
    color: var(--post-card-text-color) !important;
}

.post-tag {
    &:hover {
        color: #3a90d2;
    }
}

#sidebar {
    .site-title {
        font-size: 1.5rem;
        line-height: 3.5rem;
        margin-bottom: 0;
    }

    .site-subtitle {
        font-style: normal !important;
    }

    .nav-link {
        font-size: 0.95rem;
        padding-top: 0.7rem !important;
        padding-bottom: 0.7rem !important;
        span {
            letter-spacing: 1px !important;
        }
    }

    ul li.nav-item a.nav-link:hover {
        background-color: var(--sidebar-hover-bg);
    }
}

/* --- post --- */
.right {
    // float: right;
    justify-content: right;
}
.normal {
    // float: center;
    justify-content: center;
}   
.left {
    // float: left;
    justify-content: left;
}
.post {
    p {
        >img[data-src],
        >a.popup.img-link {
            &:not(.normal):not(.left):not(.right) {
                // @include align-center;
                justify-content: center; // fix a problem that image doesn't locate in the middle
            }
        }
    }
    /* add highlighter w/ underline */
    // (default) yellow highlighter
    .hl {
        font-weight: 500; // bolder;
        border-bottom: 2px solid var(--highlight-lcolor);
        padding: 0 0.1em;
        background: linear-gradient(180deg, #ffffff00 65%, var(--highlight-bcolor) 35%);
    }
    // purple highlighter
    .hlp {
        font-weight: 500; // bolder;
        border-bottom: 2px solid var(--highlight-purple-lcolor);
        padding: 0 0.1em;
        background: linear-gradient(180deg, #ffffff00 65%, var(--highlight-purple-bcolor) 35%);
    }
    // blue highlighter
    .hlb {
        font-weight: 500; // bolder;
        border-bottom: 2px solid var(--highlight-blue-lcolor);
        padding: 0 0.1em;
        background: linear-gradient(180deg, #ffffff00 65%, var(--highlight-blue-bcolor) 35%);
    }

    /* add simple highlight */
    .shl{
        background-color: var(--highlight-bcolor);
    }
    .shlp {
        background-color: var(--highlight-purple-bcolor);
    }
    .shlb {
        background-color: var(--highlight-blue-bcolor);
    }

    /* add colored text */
    .red {
        color: crimson;
    }
    .blue {
        color: royalblue;
    }
    .pink {
        color: mediumvioletred;
    }
}

/* tags page */
.post-content {
    a.tag {
        &:hover {
            background: rgba(136, 136, 136, 0.106) !important;
        }
    }
    line-height: 1.8rem;
}

/* tag button */
#panel-wrapper {
    .btn-outline-primary {
        --bs-btn-hover-color: var(--button-hover-color);
        --bs-btn-hover-bg: var(--button-hover-color);
        --bs-btn-hover-border-color: var(--button-hover-color);
    }
    /* Overwrite bootstrap outline button */
    .btn.btn-outline-primary {
        &:not(.disabled):hover {
            border-color: var(--button-hover-color) !important;
            color: var(--button-hover-lcolor) !important;
        }
    }
}

/* --- Typography --- */
h1 {
    font-size: 1.8rem;
    line-height: 1.5;
}
h2 {
    font-size: 1.55rem;
}
h3 {
    font-size: 1.3rem;
}
h4 {
    font-size: 1.15rem;
}
h5 {
    font-size: 1.1rem;
}

/* --- desktop mode, both sidebar and panel are visible --- */

@media all and (min-width: 1200px) {
    .post-content {
        font-size: $post-content-font-size; // font-size: 1.0rem;
    }
}
