@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import 
    "custom/colors/dark-typography.scss",
    "custom/colors/light-typography.scss";

html {
    @media (prefers-color-scheme: light) {

        &:not([data-mode]),
        &[data-mode="light"] {
            @include light-scheme;
        }

        &[data-mode="dark"] {
            @include dark-scheme;
        }
    }

    @media (prefers-color-scheme: dark) {

        &:not([data-mode]),
        &[data-mode="dark"] {
            @include dark-scheme;
        }

        &[data-mode="light"] {
            @include light-scheme;
        }
    }
    font-size: 15.5px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    letter-spacing: -0.2px;
}

.access {
    .post-content {
        font-size: 0.95rem;
    }
}

.post-content {
    font-size: 1.0rem;
    line-height: 1.9;
}

.post-tag {
    &:hover {
        color: #3a90d2;
    }
}

#sidebar {
    .site-title {
        font-size: 1.45rem;
        line-height: 3.5rem;
    }

    .site-subtitle {
        font-style: normal !important;
    }

    .nav-link {
        font-size: 0.9rem;
    }
}

/* --- post --- */
// .img-link{
//     display: unset;
// }
.right {
    // float: right;
    justify-content: right;
}
.normal {
    // float: center;
    justify-content: center;
}   
.left {
    // float: left;
    justify-content: left;
}

.post {
    p {
        >img[data-src],
        >a.popup {
            &:not(.normal):not(.left):not(.right) {
                // @include align-center;
                justify-content: center; // fix a problem that image doesn't locate in the middle
            }
        }
    }

    /* add highlighter w/ underline */
    .hlo {
        border-bottom: 2px solid var(--highlight-lcolor);
        padding: 0 0.2em;
        background: linear-gradient(180deg, #ffffff00 65%, var(--highlight-bcolor) 35%);
    }
    .hl {
        font-weight: bolder;
        border-bottom: 2px solid var(--highlight-lcolor);
        padding: 0 0.2em;
        background: linear-gradient(180deg, #ffffff00 65%, var(--highlight-bcolor) 35%);
    }
}

/* tags page */
.post-content {
    a.tag {
        &:hover {
            background: rgba(136, 136, 136, 0.106) !important;
        }
    }
}

/* tag button */
#panel-wrapper {
    .post-tag {
        &:hover {
            background-color: var(--button-hover-color);
            border-color: var(--button-hover-color);
        }
    }
}

/* --- desktop mode, both sidebar and panel are visible --- */

@media all and (min-width: 1200px) {
    .post-content {
        font-size: 1.0rem;
    }
}
