%section {
    #core-wrapper & {
        margin-bottom: 2rem;
    }
}

/* ---------- scss placeholder --------- */

%heading {
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}

%img-caption {
    +em {
        font-size: 85%;
    }
}

/* add effects on links */
.post-tail-wrapper .post-meta a:not(:hover), .post-content a:not(.img-link) {
    border-bottom: 1px dashed var(--link-underline-color); 
}

// %link-hover {
//     color: rgb(85, 125, 157) !important;
//     border-bottom: 1px solid #4f728c;
// }
%link-hover {
    color: var(--link-color) !important;
    background: linear-gradient(180deg, #ffffff00 65%, var(--link-hover-bcolor) 35%);
    border-bottom: 2px dashed var(--link-hover-lcolor);    
}

/* post cards */
.card-title {
    line-height: initial;
}

/* tag hover effect */
%tag-hover {
    background: var(--tag-hover);
    transition: background 0.35s ease-in-out;
    border-bottom: none;
}

/* sidebar bottom buttons */
#sidebar .sidebar-bottom {
    justify-content: center;
}
