@mixin dark-scheme {
    --prompt-tip-bg: rgba(77, 187, 95, 0.2);
    --prompt-tip-icon-color: rgb(5 223 5 / 68%);
    --prompt-info-bg: rgb(7 59 104 / 80%);
    --prompt-info-icon-color: #0075d1;

    /* links */
    --link-color: rgb(183, 203, 233);
    --link-underline-color: rgb(60, 67, 75);
    --link-hover-bcolor: #2c3c4bd6;
    --link-hover-lcolor: rgb(77 110 160); 
    
    /* highlight in post-content */
    --highlight-bcolor: #3d372b;
    --highlight-lcolor: #c39405;
}
