@mixin light-scheme {
    --blockquote-text-color: #8f8f8f;
    --checkbox-checked-color: #132d44;

    --sidebar-bg: #eaeef1;
    --sidebar-muted-color: #929292;

    /* links */
    --link-color: #193e69;
    --link-underline-color: #c2cbd3;
    --link-hover-bcolor: #eef7ffd6;
    --link-hover-lcolor: #4589be; 

    --prompt-note-icon-color: #03b303;
    --prompt-tip-bg: rgb(123 247 144 / 20%);
    --prompt-tip-icon-color: #03b303;
    --prompt-info-bg: #e1f5fe;
    --prompt-info-icon-color: #0070cb;

    /* highlight in post-content */
    --highlight-bcolor: #FEEFC3;
    --highlight-lcolor: #FBBC04;

    /* button hover color (ex. post-navigation, post-tag) */
    --button-hover-color: #262e41;

    /* table of content */
    --toc-highlight: #193e69;
}
