#page-category ul>li>a, #page-tag ul>li>a {
    font-size: 1.05rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#page-category,
#page-tag,
#access-lastmod {
    a:hover {
        @extend %link-hover;

        margin-bottom: -2px;
        /* Avoid jumping */
    }
}
