.preview-img {
    aspect-ratio: unset;
}

/* older / newer post navigate button */
.post-navigation {
    .btn {
        &:hover {
            background: var(--button-hover-color);
            border-color: var(--button-hover-color);
        }
    }
    /* Overwrite bootstrap outline button */
    .btn.btn-outline-primary {
        &:not(.disabled):hover {
            border-color: var(--button-hover-color) !important;
            color: var(--button-hover-lcolor) !important;
        }
    }
}
