.preview-img {
    img {
        aspect-ratio: unset;
    }
}

/* older / newer post navigate button */
.post-navigation {
    .btn {
        &:hover {
            background: var(--button-hover-color);
            border-color: var(--button-hover-color);
        }
    }
}
